*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 25%;
}

#number{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

button{
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: 1px solid #1e69de;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(109, 179, 242, 1) 18%, rgba(30, 105, 222, 1) 74%);
    margin: 15px;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(to top, rgba(109, 179, 242, 1) 18%, rgba(30, 105, 222, 1) 74%);
}

form {
    width: 50vw;
    height: 400px;
    border: 2px solid gray;
    margin: 5vw auto;
    background-color: #337ab70a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(109, 179, 242, 1) 18%, rgba(30, 105, 222, 1) 74%);
    color: white;
}

div{
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label{
    width: 40%;
    font-size: 19px;
    font-weight: bold;
    color: darkblue;
}

input, select{
    width: 50%;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 1px inset grey;
}

p{
    color: red;
    font-weight: bold;
    display: none;
    width: 100%;
    text-align: center;
}


